@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  height: fit-content;
  display: block;
  position: fixed;
  /* box-shadow: 0px 0px 25px #e8e8e882; */
}
.nav {
  background: linear-gradient(to right, #665c5c31, #5a5a5a79);
  /* background-color: #16122d; */
  width: auto;
  height: max-content;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 20px 20px;
}

.logo {
  display: inline-flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo h1 {
  font-weight: bold;
}

.logo-img {
  width: 50px;
  margin-right: 20px;
}

ul {
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.menu {
  color: white;
  width: auto;
  height: auto;
  display: inline-block;
  border: 2rem;
  border-color: white;
  margin: 0px 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

button {
  width: fit-content;
  height: fit-content;
  color: white;
  background-color: #170516;
  border: none;
  transition: 0.2s;
  border-radius: 5px;
  display: inline-flex;
}

button:hover {
  box-shadow: 0px 0px 25px #170516;
  background-color: #ffffff00;
  /* border: 1px solid; */
  /* border-color: #ffffff; */
  color: whitesmoke;
}

button a:hover {
  color: whitesmoke;
}

main {
  background: linear-gradient(
    to top right,
    #170516 30%,
    #6e0160 70%,
    #ff0072 100%
  );
  width: auto;
  height: auto;
}
section {
  height: 100vh;
  margin: 0px 12px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 100px 20px 20px 20px;
  border-radius: 20px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  margin: 5px 50px 5px 50px;
  width: auto;
  height: auto;
}

.intro-profile {
  color: rgb(209, 209, 209);
  align-items: left;
}

.intro-profile p {
  font-size: 32px;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
}

.intro-profile h1 {
  font-size: 60px;
  font-weight: bolder;
  color: white;
  margin: 12px 0px;
  text-shadow: 0px 0px 25px #b30051;
}

.intro-profile h3 {
  font-size: 48px;
}

.img-profile {
  width: 360px;
  height: 400px;
  overflow: hidden;
  /* background-color: #01368a; */
  border: 6px solid;
  border-color: #ff0072;
  border-radius: 5%;
  box-shadow: inset 0px 0px 50px #ff0072;
  margin: 50px 50px;
}

/* .img-profile img {
  justify-content: center;
} */

.intro-btn {
  margin-top: 20px;
  background-color: #ffffff00;
  border: 2px solid;
  font-size: 20px;
}

.intro-btn:hover {
  background-color: #ff0072;
  border: 2px solid #ff0072;
  color: white;
  box-shadow: 0px 0px 25px #ff0072;
}
