@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* scrollbar */
/* Pilihan untuk Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Pilihan untuk Firefox
/* Styling scrollbar */
/* scrollbar-color: #3498db #f1f1f1; */

/* Styling thumb */
/* scrollbar-width: thin; */

body {
  font-family: "poppins", sans-serif;

  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  scroll-behavior: smooth;
}

p {
  line-height: 1.5;
}

nav {
  width: 100%;
  height: fit-content;
  display: block;
  position: fixed;
  z-index: 1000;
  /* box-shadow: 0px 0px 25px #e8e8e882; */
}
.nav {
  background: linear-gradient(to right, #665c5c31, #5a5a5a79);
  /* background-color: #16122d; */
  width: auto;
  height: max-content;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 13px 20px;
}

.logo {
  display: inline-flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo h1 {
  font-weight: bold;
}

.logo-img {
  width: 50px;
  margin-right: 20px;
}

ul {
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  transition: 0.5s;
}

a:hover {
  color: #0015ff;
}

.menu {
  color: white;
  width: auto;
  height: auto;
  display: inline-block;
  border: 2rem;
  border-color: white;
  margin: 0px 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

button {
  width: fit-content;
  height: fit-content;
  color: white;
  background-color: #170516;
  border: none;
  transition: 0.2s;
  border-radius: 5px;
  display: inline-flex;
}

button:hover {
  box-shadow: 0px 0px 25px #170516;
  background-color: #ffffff00;
  color: whitesmoke;
}

button a:hover {
  color: whitesmoke;
  -webkit-text-stroke: 0px;
}

main {
  width: 100%;
  height: max-content;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
section {
  width: 100%;
  height: 100vh;
  /* margin: 50px 0px; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  scroll-behavior: smooth;
}

section.hero {
  background: linear-gradient(to bottom, #170516 40%, #000758 100%);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  margin: 0px 20px;
  width: auto;
  height: auto;
  color: white;
}

.profile p {
  font-size: 32px;
  margin-bottom: 12px;
}

@keyframes fontLightsUp {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: 0px 0px 25px #000758;
  }
  50% {
    text-shadow: 0px 0px 25px #0015ff;
  }
  75% {
    text-shadow: 0px 0px 25px #000758;
  }
  100% {
    text-shadow: none;
  }
}

.profile h1 {
  font-size: 52px;
  font-weight: bold;
  color: #6e015f00;
  -webkit-text-stroke: 3px #0015ff;
  text-shadow: 0px 0px 25px #0015ff;
  animation: fontLightsUp 4s infinite;
  margin-top: -20px;
}

.profile a {
  border: 2px solid #0015ff;
  padding: 10px;
  margin-top: 200px;
  border-radius: 5px;
}

.profile a:hover {
  background-color: #0015ff;
  box-shadow: 0px 0px 25px #0015ff;
  color: white;
}

.img-profile {
  overflow: hidden;
  border: 6px solid;
  border-color: #0015ff;
  border-radius: 5%;
  box-shadow: inset 0px 0px 50px #0015ff;
  margin: 20px 20px;
}

.img-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* about me */
section.about-me {
  background: linear-gradient(to bottom, #000758 40%, #0015ff 90%);
  display: flex;
  align-items: center;
  /* height: 100vh; */
}

.about-me .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0px;
  padding: 20px;
  text-align: center;
  color: white;
}

.heading-section {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 64px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  color: #7d187800;
  -webkit-text-stroke: 2px #0015ff;
  text-shadow: 0px 0px 30px #0015ff;
}

.about p {
  font-size: 20px;
}

/* skills */
section.skills {
  background: linear-gradient(to bottom, #0015ff 0%, #000758 20%, #00053b 50%);
  display: flex;
  align-items: center;
}

section.skills .container {
  padding: 20px;
  width: 100%;
  /* overflow: hidden; */
  /* background-color: #8c003f; */
}

.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px;
}

.skill {
  border: 5px solid #0015ff;
  border-radius: 10px;
  padding: 20px;
}

.skill img {
  width: 120px;
}

section.skills .container,
section.projects .container {
  flex-direction: column;
}

.list-box {
  display: flex;
  flex-direction: row;
}

@keyframes lightUpAndFadeOut {
  0% {
    box-shadow: 0px 0px 25px #380019;
  }
  25% {
    box-shadow: 0px 0px 25px #8c003f;
  }
  50% {
    box-shadow: 0px 0px 25px #ff0072;
  }
  75% {
    box-shadow: 0px 0px 25px #8c003f;
  }
  100% {
    box-shadow: 0px 0px 25px #380019;
  }
}

.box {
  border: 5px solid #ff0072;
  border-radius: 10px;
  padding: 20px;
  margin-top: 12px;
  animation: lightUpAndFadeOut 8s infinite;
}

.box-1 {
  animation-delay: 0s;
}
.box-2 {
  animation-delay: 2s;
}
.box-3 {
  animation-delay: 3s;
}
.box-4 {
  animation-delay: 4s;
}
.box-5 {
  animation-delay: 5s;
}
.box-6 {
  animation-delay: 6s;
}
.box-7 {
  animation-delay: 7s;
}
.box-8 {
  animation-delay: 8s;
}

/* projects */
section.projects {
  text-align: center;
  background: linear-gradient(to bottom, #00053b 20%, #170516 90%);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.carousel-container {
  width: 100%;
  /* overflow: hidden;    */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-btn,
.prev-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: white;
  background-color: #a0a0a0;
  cursor: pointer;
}

.next-btn {
  right: 15px;
}

.prev-btn {
  left: 15px;
}

.carousel-slide {
  width: 100%;
  /* height: 70%; */
  /* display: none; */
}

.carousel-item {
  flex: 0 0 100%; /* Set the width of each slide */
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  box-shadow: inset 0px 0px 1000px #0015ff;
  margin: 12px 60px;
  border-radius: 10px;
  transition: opacity 1s ease-in-out;
}

.carousel-item.active {
  display: block;
  opacity: 1;
}

.carousel-item.inactive {
  display: none;
  opacity: 0;
}

.projects-box {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 3rem;
  color: #fff;
}

.project-img {
  width: 450px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img img {
  width: 300px;
  object-fit: cover;
}

.project-desc {
  text-align: left;
  margin: 0px 12px;
}

.project-desc h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 3px;
}

.project-desc h1 {
  margin-bottom: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  color: #fff;
  text-shadow: 0px 0px 25px #ff0072;
}

.view-project {
  border-radius: 5px;
  padding: 5px;
  background-color: #d0005e;
}

.view-project:hover {
  /* transform: scale(1.5); */
  color: #ffffff;
  box-shadow: 0px 0px 10px #ff0072;
}
.project-desc p {
  margin-top: 15px;
  font-size: 20px;
}

/* contacts */
section.contacts {
  width: 100%;
  background: linear-gradient(to bottom, #170516 70%, #0015ff 110%);
  font-family: "poppins", sans-serif;
}

section.contacts .container {
  margin-top: 70px;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
}

.content {
  margin-left: 50px;
  margin-right: 50px;
}

section.contacts .container p {
  height: max-content;
  font-size: 20px;
  text-align: left;
  text-align: justify;
}

section.contacts .heading-section {
  margin-top: 0px;
  text-align: center;
}

.sosmed-icons {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 50px;
  font-size: 20px;
}

.sosmed-icons a {
  padding: 0px;
  margin-bottom: 20px;
}

/* footer */
footer {
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, #0919cb, #0015ff);
}

footer a {
  color: white;
}

footer a:hover {
  color: #170516;
}
